/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #ECEC00;
    text-shadow: none;
}

::selection {
    background: #ECEC00;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Archive';
    src: url('../fonts/Archive.eot');
    src: url('../fonts/Archive.eot') format('embedded-opentype'),
         url('../fonts/Archive.woff2') format('woff2'),
         url('../fonts/Archive.woff') format('woff'),
         url('../fonts/Archive.ttf') format('truetype'),
         url('../fonts/Archive.svg#Archive') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?wslvfh');
    src:url('../fonts/icomoon.eot?#iefixwslvfh') format('embedded-opentype'),
        url('../fonts/icomoon.woff?wslvfh') format('woff'),
        url('../fonts/icomoon.ttf?wslvfh') format('truetype'),
        url('../fonts/icomoon.svg?wslvfh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chrome:before {
    content: "\e600";
}

.iconmoon {
    font-family: icomoon !important;
}

html {
    line-height: 1.4;
}

body {
    font-size: 16px;
    background: #00a3e3;
    /*background: #33b5e8;*/
    color: #fcfcfc;
    font-family: "Archive", serif;
    margin: 0 1em 0;
}

h1 {
    font-size: 7em;
    margin: 0;
    font-family: "Archive", serif;
}

@media (max-width: 500px) {

    h1 {
        font-size: 4em;
    }

}

.av {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #2ecc40 !important;
    color: inherit !important;
}

.contact > .item {
    padding: 0;
}

.seg {
    display: inline-block;
}

.seg > .button {
    margin-bottom: .6em;
}

a, a:visited {
    color: #fcfcfc;
}

a:hover {
    background: #ECEC00;
    color: rgba(0, 0, 0, 0.8);
}

.self-icon {
    color: #fcfcfc;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}